<mat-accordion>
    <ng-container *ngFor="let moduleLink of moduleLinks">
        <mat-expansion-panel>                
                <mat-expansion-panel-header>
                    <mat-panel-title>                            
                        {{ moduleLink.title }}   
                    </mat-panel-title>            
                </mat-expansion-panel-header>                
                <ng-container *ngFor="let itemLink of moduleLink.itemLinks">                        
                    <a class="btn-link" routerLink="{{ itemLink.route }}">{{ itemLink.title }}</a>
                    <br/>
                </ng-container>
        </mat-expansion-panel>    
    </ng-container>
</mat-accordion>